@charset "utf-8";
/* CSS Document */
*{ margin: 0; padding: 0; text-decoration: none; list-style-type: none; border: 0; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.text-center { text-align: center; }
a { color: #DA1C0E; }
a:focus { outline: none; }
a:hover { color: #b00; }
.link:hover { border-bottom: 2px solid #a00; }

body {
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  background: url(../images/body-bg-min.jpg) repeat;
  margin:-100px 0 0 0;
}

h1 {
  font-size: 35px;
  color: #252525;
}

h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  color: #000;
  line-height: 25px;
  text-align: justify;
}

p + p {
  margin-top: 10px;
}

.round {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#home-bg {
  background: url(../images/home-bg.jpg) no-repeat;
  position: absolute;
  width: 1366px;
  height: 800px;
}

#about-bg {
  background: url(../images/about-bg.jpg) no-repeat;
  position: absolute;
  width: 1366px;
  height: 800px;
}

#product-bg {
  background: url(../images/products-bg.jpg) no-repeat;
  position: absolute;
  width: 1366px;
  height: 800px;
}

#team-bg {
  background: url(../images/team-bg.jpg) no-repeat;
  position: absolute;
  width: 1366px;
  height: 800px;
}

#contact-bg {
  background: url(../images/contact-bg.jpg) no-repeat;
  position: absolute;
  width: 1366px;
  height: 800px;
}

#wrapper {
  width: 1366px;
  margin: 0 auto;
  height: auto;
  position: relative;
}

.section-left {
  margin: 431px 0 0 114px;
  overflow: visible;
  display: inline;
}

.line {
  background: url(../images/line.png) no-repeat;
  width: 13px;
  height: 300px;
  margin: 386px 0px 0px 27px;
}

.left-line { margin-left: 27px; }
.right-line { margin-left: 35px; }

ul#menu {
  margin: 23px 0 0 50px;
  text-align: right;
  display: inline;
}

ul#menu li a {
  font: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #434343;
  font-size: 20px;
  display: block;
  width: 104px;
  padding: 5px 18px 0 0;
}

ul#menu li a:hover, ul#menu li a.on {
  background: url(../images/hover.png) 0 2px no-repeat;
  color: #fff;
}

.section-mid {
  margin: 390px 0 0 27px;
  float: left;
  width: 566px;
  height: auto;
  overflow: visible;
}

#team-content {
  display: block;
  margin: 0;
  width: 566px;
  position: relative;
}

#team-content .member {
  position: relative;
  float: left;
  width: 164px;
  margin-right: 24px;
}

#team-content .member .avatar {
  width: 164px;
  height: 188px;
}

#team-content .member .member-name {
  text-align: center;
}

#team-content .team p { text-align: center; color: #202020;}
#team-content .team img { margin: 0 0 0 15px;}
#team-content .invisible { display: none; }
p.member-profile { width: 500px; height: auto; padding: 20px; border-radius: 5px; }

.section-right {
  width: 314px;
  height: 340px;
  margin: 382px 73px 0 0;
  overflow: visible;
}

#logo {
  background: url(../images/white-magnet-software-logo.png) no-repeat;
  width: 270px;
  height: 340px;
}

#videocache {
  background: url(../images/videocache.png) no-repeat;
  width: 110px;
  height: 110px;
  margin-left: 15px;
}

.social {
  margin: 23px 0 0 0px;
  text-align: right;
  width: 154px;
  padding: 5px 18px 0 0;
}

.social a {
  font-size: 15px;
  font-weight: bold;
}

.copyright {
  width: 566px;
  overflow: visible;
  height: auto;
  float: left;
  margin: 0px 0px 0px 335px;
}

#fancybox-outer {
  border: 10px solid black;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

#fancybox-title-inside {
  font-weight: bold;
  font-size: 14px;
}
