SetEnv session.use_cookies='0';
RedirectMatch 301 /forum.* http://whitemag.net/
ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} !=whitemag.net [NC]
  RewriteRule ^(.*)$ http://whitemag.net/$1 [L,R=301]
</IfModule>

